{% extends "base.html" %}

{% block content %}

  <main >
    <div class="container wow fadeIn">
      <h2 class="my-5 h2 text-center">Checkout form</h2>
      <div class="row">
        <div class="col-md-8 mb-4">
          <div class="card">
            <form method="POST" class="card-body">
              {% csrf_token %}
              <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">First name</label> 
                            {{form.first_name}}
                            <div class="invalid-feedback"> Valid first name is required. </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">Last name</label>
                            {{form.last_name}}
                            <div class="invalid-feedback"> Valid last name is required. </div>
                        </div>
                    </div>
 
                    <div class="mb-3">
                        <label for="email">Email</label>
                        {{form.email}}
                        <div class="invalid-feedback"> Please enter a valid email address for shipping updates. </div>
                    </div>
                    <div class="mb-3">
                        <label for="address">Address</label>
                        {{form.address}}
                        <div class="invalid-feedback"> Please enter your shipping address. </div>
                    </div>
                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
            </form>

          </div>

        </div>

        <div class="col-md-4 mb-5">
          {% include "store/order_snippet.html" %}
        </div>

      </div>

    </div>
  </main>

{% endblock content %}

