*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body{
	width: 100%;
	height: 100vh;
}
body{
	display: grid;
	place-items: center;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 10px 10px 30px rgb(0, 0, 0, 0.2);
}
thead {
	background-color: #da7d13;
	color: white;
	transform-style: preserve-3d;
}
th,td {
	padding: 1rem;
}
tbody {
	background-color: rgb(231, 22, 22);
}
tbody tr:nth-of-type(2n) {
	background-color: rgb(3, 178, 247);
}
tbody tr:nth-of-type(2n + 1) {
	background-color: rgb(18, 129, 219);
}